*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#password{
    width: 400px;
    padding: 18px;
    font-size: 16px;
    background-color: darksalmon;
    border: 5px solid white;
    border-radius: 10px;
}

#password:focus{
    outline: none;
}